static.smcoco.com {
  root ./public/static
  cors
  gzip
}

smcoco.com {
  gzip
  root ./public/static/home
  header / {
    Link "<//static.smcoco.com/common/common.css>; rel=preload;"
    Link "<//static.smcoco.com/home/home.css>; rel=preload;"
    Link "<//static.smcoco.com/common/common.js>; rel=preload;"
    Link "<//static.smcoco.com/home/home.js>; rel=preload;"
    -Server
  }
  rewrite / {
    regexp .*
    to /
  }
  errors {
    404 index.html
  }
}

auth.smcoco.com {
  gzip
  root ./public/static/auth
  rewrite / {
    regexp .*
    to /
  }
  errors {
    404 index.html
  }
}

music.smcoco.com {
  gzip
  root ./public/static/music
  rewrite / {
    regexp .*
    to /
  }
  errors {
    404 index.html
  }
}

api.smcoco.com {
  gzip
  proxy / localhost:9999
}
